*{font-family: Helvetica, Arial,  sans-serif; box-sizing: border-box;}

body{padding:60px;
background-color: #191B27;
color:#fff;}
form{
  display: flex;
  column-gap: 20px;
}
.buscador{
  background: #33374c;
  background: -moz-linear-gradient(-45deg,  #33374c 0%, #37384c 100%);
  background: -webkit-linear-gradient(-45deg,  #33374c 0%,#37384c 100%);
  background: linear-gradient(135deg,  #33374c 0%,#37384c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33374c', endColorstr='#37384c',GradientType=1 );
  -webkit-box-shadow:inset 0 0 3px 0px rgba(255,255,255,.1);
  box-shadow:inset 0 0 3px 0px rgba(255,255,255,.1);
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 10px;
  padding: 30px;
}
.buscador div {
  padding: 0 0 10px 5px;
}
.buscador input{
  width: 100%;
  font-size: 1.2em;
  background-color: #191B27;
  border-radius: 10px;
  box-shadow: 0 0 10px 3px rgb(0 0 0 / 10%);
  color: #fff;
  padding:20px 30px;
  -webkit-box-shadow:inset 0 0 3px 0px rgba(255,255,255,.1), 0 0 10px 3px rgb(0 0 0 / 10%);
  box-shadow:inset 0 0 3px 0px rgba(255,255,255,.1), 0 0 10px 3px rgb(0 0 0 / 10%);
  border:none;
}
.buscador button {
  background-color: #FFCD00;
  color: #191B27;
  border-radius: 10px;
  border: none;
  width: 100px;
  -webkit-box-shadow:inset 0 0 3px 0px rgba(255,255,255,.1), 0 0 10px 3px rgb(0 0 0 / 10%);
  box-shadow:inset 0 0 3px 0px rgba(255,255,255,.1), 0 0 10px 3px rgb(0 0 0 / 10%);
  font-weight: bold;
}
hr{
  border: none;
  border-bottom: #8689925c 3px dotted;
}
.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  grid-column-gap: 10px;
  column-gap: 10px;
  row-gap: 10px;
}

.card{
  align-content: center;
  background: #33374c;
  background: -moz-linear-gradient(-45deg,  #33374c 0%, #37384c 100%);
  background: -webkit-linear-gradient(-45deg,  #33374c 0%,#37384c 100%);
  background: linear-gradient(135deg,  #33374c 0%,#37384c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33374c', endColorstr='#37384c',GradientType=1 );
  -webkit-box-shadow:inset 0 0 3px 0px rgba(255,255,255,.1), 0 0 10px 3px rgb(0 0 0 / 10%);
  box-shadow:inset 0 0 3px 0px rgba(255,255,255,.1), 0 0 10px 3px rgb(0 0 0 / 10%);
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 10px;
  max-width: 24%;
  text-align: center;
}
.card p{
  max-width: calc(100% - 60px);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
  border-radius: 10px;
  -webkit-box-shadow:inset 0 0 3px 0px rgba(255,255,255,.1), 0 0 10px 3px rgb(0 0 0 / 10%);
  box-shadow:inset 0 0 3px 0px rgba(255,255,255,.1), 0 0 10px 3px rgb(0 0 0 / 10%);
  color: #fff;
  padding:20px 30px;
  margin: 30px;
  font-size: 16px;
  background: #7265fe;
background: -moz-linear-gradient(left,  #7265fe 0%, #6b2cff 100%);
background: -webkit-linear-gradient(left,  #7265fe 0%,#6b2cff 100%);
background: linear-gradient(to right,  #7265fe 0%,#6b2cff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7265fe', endColorstr='#6b2cff',GradientType=1 );

}
.card img {
  box-shadow: 0 0 10px 3px rgb(0 0 0 / 10%);
  margin: 30px 30px 0;
  max-width: calc(100% - 60px);
  border-radius: 10px;
}
h2::before {
  content: '►';
  display: inline-block;
  margin-right: 5px;
  color:#FFCD00;
}
.cargando{
  color:#868992;
}
@media (max-width:900px) {
  body{padding:5px;
    }
    .buscador {
    padding: 15px;
  }
    .card-grid {
      
      grid-column-gap: 10px;
      column-gap: 10px;
      row-gap: 10px;
    }
    .card {
      margin-bottom: 10px;
      max-width: 49%;
  }
  .card img, .card p {
    max-width: calc(100% - 20px);
}
.card img {
  margin: 10px 10px 0;
}
.card p {
  
  padding: 10px;
  margin: 10px;
  font-size: 13px;
}
}
@media (max-width: 600px) {
  
    .card {
      margin-bottom: 10px;
      max-width: 100%;
  }
}